
<app-side-bar></app-side-bar>
<router-outlet></router-outlet>
<div class="container">
  
  <div class="all-tests-container">
    <div class="container-fluid">
    <div class="table-responsive">
      <div class="table-wrapper">
        <div class="table-title">
          <div class="row">
            <div class="col-sm-8"><h2><b>AllModules</b></h2></div>
            <div class="col-sm-4">
              <div class="search-box">
                <i class="fas fa-search">&#xE8B6;</i>
                <input type="text" class="form-control" placeholder="Search&hellip;">
              </div>
            </div>
          </div>
        </div>
        <table class="table table-striped table-hover table-bordered">
          <thead>
            <tr>
              <th>#</th>
              <th>Name <i class="fa fa-sort"></i></th>
              <th>description <i class="fa fa-sort"></i></th>
              <th>nbr nbHeurePerWeek <i class="fa fa-sort"></i></th>
              <th>nbHeureTotal <i class="fa fa-sort"></i></th>
              <th>semestre <i class="fa fa-sort"></i></th>
              <th>coef <i class="fa fa-sort"></i></th>
              <th>classes <i class="fa fa-sort"></i></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let classItem of modules; let i = index">
              <td>{{ i + 1 }}</td>
              <td>{{ classItem?.name || 'N/A' }}</td>
              <td>{{ classItem?.description || 'N/A' }}</td>
              <td>{{ classItem?.nbHeurePerWeek || '1' }}</td>
              <td>{{ classItem?.nbHeureTotal || '1' }}</td>
              <td>{{ classItem?.semestre || 'N/A' }}</td>
              <td>{{ classItem?.coeff || '1' }}</td>
              <td>
                <ul *ngIf="classItem.classes && classItem.classes.length > 0">
                  <li *ngFor="let classItem of classItem.classes">
                    {{ classItem.name }} <!-- Add other properties as needed -->
                  </li>
                </ul>
                <div *ngIf="!classItem.classes || classItem.classes.length === 0">No classes</div>
              </td>
                
          
              <td>
                  <div style="display: flex; gap: 10px;">
                  <button [routerLink]="['/updatemodule', classItem.id]" class="btn btn-primary" title="Edit" data-toggle="tooltip">
                    <i class="fa fa-edit"></i> Edit
                  </button>
                  <button (click)="deletemodule(classItem.id.toString())" class="btn btn-danger" title="Delete" data-toggle="tooltip">
                    <i class="fa fa-trash"></i> Delete
                  </button>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
        <div class="clearfix">
          <div class="hint-text">Showing <b>{{ modules.length }}</b> entries</div>
          <!-- Add your pagination logic here -->
        </div>
      </div>
    </div>
  </div>
  