/* Adjust the sidebar width and set a fixed position */
app-side-bar {
    width: 250px; /* Adjust the width according to your design */
    position: fixed;
    top: 0;
    left: 0;
    height: 100%; /* Make it full height */
    z-index: 1000; /* Ensure it's above other content */
  }
  
  /* Give the main content some left margin to accommodate the sidebar */
  .all-tests-container {
    margin-left: 250px; /* Adjust the margin based on your sidebar width */
  }
  
  /* Add padding to the main content to ensure it's not hidden behind the sidebar */
  .container-fluid {
    padding: 60px;
  }
  .btn-success-custom {
    background-color: #87CEEB; /* Bleu pastel */
    border-color: #87CEEB; /* Couleur de la bordure */
    color: #fff; /* Couleur du texte */
  }
  .btn-generate-custom {
    background-color: #FFD700; /* Jaune pastel */
    border-color: #FFD700; /* Couleur de la bordure */
    color: #fff; /* Couleur du texte */
  }
  .has-error .form-control {
    border-color: #dc3545;
}

.has-error .text-danger {
    color: #dc3545;
}