/* CSS for Card Container */
.card-container {
    display: flex;
    flex-direction: column; /* Arrange cards vertically */
  }
  

  .fixed-right {
    position: sticky;
    top: 0;
  }
  /* CSS for Card Styling */
  .card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px;
    margin-bottom: 20px;
  }
  
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  .card-body {
    padding: 20px;
  }
  
  .card-title {
    font-size: 20px;
    font-weight: bold;
  }
  .row {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(var(--bs-gutter-y)* -1);
    margin-right: calc(var(--bs-gutter-x)* -.5);
    margin-left: calc(var(--bs-gutter-x)* -.5);
    margin-bottom: 20px; /* Add some bottom margin */
    margin-block:139px
  }
  .card-text {
    font-size: 16px;
    margin-bottom: 10px;
  }
  
  .title {
    color: #007bff; /* Light shade of blue */
    font-size: 24px; /* Adjust font size as needed */
    font-weight: bold; /* Make the text bold */
  }
  .center-snackbar {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .fixed-calendar {
    height: 400px; /* Adjust the height as needed */
    width: 100%;
  }
  
 
