<app-nav-bar></app-nav-bar>
<router-outlet></router-outlet>
<div class="content-page">
    <div class="content">


        <!-- Start Content-->
        <div class="container-fluid">

            <!-- start page title -->
            <div class="row">
                <div class="col-12">
                    <div class="page-title-box page-title-box-alt">
                        <div class="page-title-right">
                            <ol class="breadcrumb m-0">
                                <li class="breadcrumb-item"><a href="javascript: void(0);">welcome</a></li>
                                <li class="breadcrumb-item"><a href="javascript: void(0);">explanation</a></li>
                                <li class="breadcrumb-item active">Project guide</li>
                            </ol>
                        </div>
                        <h4 class="page-title">Project guide page </h4>
                    </div>
                </div>
            </div>
            <!-- end page title -->

            <div class="row">
                <div class="col-sm-12">
                    <div class="timeline">
                        <article class="timeline-item alt">
                            <div class="time-show first">
                                <a  class="btn btn-primary width-lg">see your Project Guid</a>
                            </div>
                        </article>
                        <article class="timeline-item alt">
                            <div class="timeline-desk">
                                <div class="panel">
                                    <div class="panel-body">
                                        <span class="arrow-alt"></span>
                                        <span class="timeline-icon bg-danger"><i class="mdi mdi-circle"></i></span>
                                        <h4 class="text-danger mt-0">Notification System for New Projects:</h4>
                                        <p class="timeline-date text-muted"><small>Notification </small></p>
                                        <div class="formula-description">
                                            <p>
                                               - Teachers can create new projects.
                                               - Notifications are sent to the specific project group consisting of assigned students.
                                               - Notifications include project details such as title, description, start date, end date, and additional instructions.
                                            </p>
                                          
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </article>
                        <article class="timeline-item ">
                            <div class="timeline-desk">
                                <div class="panel">
                                    <div class="panel-body">
                                        <span class="arrow"></span>
                                        <span class="timeline-icon bg-success"><i class="mdi mdi-circle"></i></span>
                                        <h4 class="text-success mt-0">Project Duration Calendar for Students:</h4>
                                        <p class="timeline-date text-muted"><small>Calendar</small></p>
                                        <p>
                                            Each student has access to a calendar displaying project durations.
Calendar indicates start and end dates of each project.
Accessible within the educational platform or a dedicated mobile application.
                                                                             
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </article>
                        <article class="timeline-item alt">
                            <div class="timeline-desk">
                                <div class="panel">
                                    <div class="panel-body">
                                        <span class="arrow-alt"></span>
                                        <span class="timeline-icon bg-primary"><i class="mdi mdi-circle"></i></span>
                                        <h4 class="text-primary mt-0">Project Progress Tracking</h4>
                                        <p class="timeline-date text-muted"><small>SprintBacklog</small></p>
                                        <p>Similar to a sprint backlog, students can track project progress.
                                            Features sections for tasks: "To Do," "In Progress," and "Done."
                                            Students can view their assigned tasks and their current status.
             
                                        <div class="clearfix"></div>
                                    </div>
                                </div>
                            </div>
                        </article>
                      
             
                        <article class="timeline-item alt">
                            <div class="time-show">
                                <a href="/getallprojectsbyuser" class="btn btn-primary width-lg">Go To Project</a>
                            </div>
                        </article>
                       
                        

                       

                    </div>
                </div>
            </div>
            <!-- end row -->


        </div>
        <!-- container -->

    </div>
    <!-- content -->



</div>
<router-outlet></router-outlet>